.spinner {
  width: 100vw;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.dog {
  margin: 0 auto;
  height: 50px;
}

.circle {
  margin-top: 1%;
  height: 20px;
}
