.createbooking {
  display: flex;
  justify-content: center;
  width: 18vw;
  margin: 0 auto;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.createbooking_button {
  margin: 0 auto;
  width: 18vw;
}

.sitterimage {
  margin-left: 2%;
  height: 300px;
}

@media screen and (max-width: 480px) {
  .createbooking_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
}
