.createbooking {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: visible;

  .createbooking_button {
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 200px;

  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sitterimage {
  margin-left: 2%;
  height: 300px;
}

@media screen and (max-width: 480px) {
  .createbooking_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
}