.HomeScreen{
    width: 100vw;
    max-width: 100vw;
}

#ip2 {
    border-radius: 25px;
    border: 2px solid lightgray;
    padding: 20px; 
    width: 200px;
    height: 15px;    
}


/* .sitters{
   
} */

.explore{
    margin-top: 2%;
}

