.postbuttons #delete_button{
    color: yellow;
    margin-left: 20%;
    height: 40px;
    /* margin-left: 100px; */
    background-color:red;
    opacity: 0.8;
    border: 1px solid lightgray;
    border-radius:10px ;
}


.postbuttons #edit_button{
    margin-left: 25%;
    height: 40px;
    width: 75px;
    /* margin-left: 100px; */
    color: white;
    background-color:#9D8DF1;
    opacity: 0.8;
    border: 1px solid lightgray;
    border-radius:10px ;
}

.postbuttons #edit_button:hover{
    color: #9D8DF1;
    background-color: white;
}

.postbuttons #delete_button:hover{
    color: red;
    background-color: yellow;
}