.listingdetail {
  width: 50vw;
  margin: 0 auto;
  margin-top: 3%;
}

.booking {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.sitterreviews > li {
  margin-top: 4%;
  list-style: none;
}

.reviewbox {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 5%;
  justify-content: center;
  align-items: center;
}

.contact_button{
  margin-top: 2%;
  margin-left: 28%;

}


@media screen and (min-width: 1280px) {
  .contact_button{
    margin-left: 37%;
    width: 150px;
  }  
}

@media screen and (max-width: 480px) {
    .contact_button{
      margin-left:8%;
    }  

}


.sitterimage{
  margin-left: 2%;
height: 300px;
}