.HomeScreen {
  margin: 0;
  padding: 0;
  width: 95%;
  box-sizing: border-box;
}

.searchbar {
  text-align: center;
}

#ip2 {
  border-radius: 25px;
  border: 2px solid lightgray;
  padding: 20px;
  width: 200px;
  height: 15px;
}

.explore {
  margin-top: 2%;
}

.sitters {
  padding-bottom: 20px;
}

.team-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px 0 50px 0;
}

.team-img {
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  border-radius: 100px;
  margin-bottom: 15px;
}

.devinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devname {
  font-weight: bolder;
}

.github {
  background-color: #333;
  color: white;
  width: 45px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 10px;
  outline: none;
  border: none;
}
.google {
  background-color: #db4437;
  color: white;
  width: 45px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 10px;
  outline: none;
  border: none;
}

.linkedin {
  background-color: #0072b1;
  color: white;
  width: 45px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 10px;
  outline: none;
  border: none;
}

.google:focus {
  outline: none;
}

.about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.about-text {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .sitters {
    width: 95%;
  }
  .team-container {
    display: flex;
    width: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0 50px 0;
    margin: 0 auto;
  }

  .team-item {
    margin: 30px 0 30px 0;
  }
}
