.profile {
  width: 80vw;
  margin: 0 auto;
  margin-top: 3%;
  height: 75vh;
}

.profilescreen_info {
  margin-top: 3%;
  margin-left: 6%;
  padding-bottom: 44%;
}

.profilescreen_buttons > button {
  background-color: yellow;
}

.paw {
  margin-left: 20%;
  font-size: 200px;
  color: lightgray;
}
