/* .listingdetail {
  width: 50vw;
  margin: 0 auto;
  margin-top: 3%;
}

.booking {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}

.sitterreviews > li {
  margin-top: 4%;
  list-style: none;
}

.reviewbox {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 5%;
  justify-content: center;
  align-items: center;
}

.contact_button{
  margin-top: 2%;
  margin-left: 28%;

}


@media screen and (min-width: 1280px) {
  .contact_button{
    margin-left: 37%;
    width: 150px;
  }  
}

@media screen and (max-width: 480px) {
    .contact_button{
      margin-left:30%;
    }  
    .listingdetail{
      width: 90vw;
    }

}


.sitterimage{
  margin-left: 2%;
height: 300px;
} */

.sitter-detail-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 70vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.top {
  display: flex;
}
.top-left {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.top-right {
  margin-top: 50px;
}
.stars {
  margin-right: 50px;
}

.sitter-info {
  display: flex;
  justify-content: flex-start;
}

.sitter-image {
  width: 40vw;
  height: 25vw;
  margin-right: 50px;
  border-radius: 50px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.about-info {
  display: flex;
  margin: 50px 0 50px 0;
}
.description {
  margin-right: 200px;
}

.booking-calendar {
  margin: 0;
}

.pricing {
  display: flex;
  justify-content: center;
}

.reviews {
  list-style: none;
  margin-bottom: 30px;
}

.contact {
  display: flex;
  justify-content: center;
}

.reviewbox {
  margin: 0 auto;
  width: 40vw;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
  .sitter-detail-container {
    width: 90vw;
  }
  .top {
    display: flex;
    flex-direction: column;
  }

  .top-left {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sitter-image {
    width: 100%;
    height: 40vw;
    margin: 0;
    border-radius: 30px;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
  }

  .description {
    margin: 0 auto;
  }

  .reviewbox {
    width: 90vw;
  }
}
